 <%- include('includes/head')  %>
 <%- include('includes/nav')  %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">SEUS CONTATOS ESTÃO ABAIXO</p>

         <div class="row">
             <div class="col">
               <div class="alert alert-danger">um erro qualquer</div>
              </div>
         </div>

      </div>
    
  
      <div class="responsive-table">
        <table class="class table my-3">
          <tr>
            <td>luiz</td>
            <td>otavio</td>
            <td>54548359352345</td>
            <td>otaviomiranda@gmail.com</td>
          </tr>
        </table>

      </div>

    


     <div class="col-lg-2"></div>
   </div>
 </div>

 <%- include('includes/footer') %>

 